{% extends 'base.html' %}

{% block title %}Zapomenuté heslo{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Zapomenuté heslo</h2>
            <form method="POST" action="{{ url_for('auth.forgot_password') }}">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Odeslat resetovací odkaz</button>
            </form>
        </div>
    </div>
{% endblock %}
